main{
    width: 100%;
    display: block;
}
.alerta{
    position: relative;
    margin: auto;
    background: rgb(202, 62, 62);
    width: 50%;
    line-height: 50px;
    margin-top:20px ;
    text-align: center;
    font-weight: 600;
    color: #fff;
    padding: 10px;
}